{% extends './dashboard.html'%}

{% block content %}
<form method="POST">
  <!-- <div class="form-group p-2">
    <h3>Add Book</h3>
    {% csrf_token %}
    <div class="row">
      <div class="col col-sm-12 col-md-8 mb-3">
        {{form.book_id}}<br>
        {{form.title}}<br>
        {{form.subtitle}}<br>
        {{form.publisher}}<br>
        {{form.published_date}} <br>
        {{form.category}}
        
      </div>
      
      <div class="col mh-50 col-sm-12 col-md-4">
        Choose Author: <br>
        {{form.authors}}<br>
      </div>
    </div>
    <input type="submit" class="btn btn-md btn-primary mt-3" value="Add Book">
    </div> -->
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-md btn-primary mt-3" value="Add Book">
  </form>
{% endblock %}