{% extends './dashboard.html'%}

{% block content %}
<div class="container-fluid p-2">
  <button type="button" class="btn btn-outline-success btn-lg btn-block">You Can Click This Button To Add Authors!</button>
</div>

<h1>Authors</h1>
{% if authors %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Country of Origin</th>
      <th scope="col">Interests</th>
      <th scope="cole">#</th>
    </tr>
  </thead>
  {% for author in authors %}
  <tbody>
    <tr>
      <th scope="row">*</th>
      <td>{{author.name}}</td>
      <td>{{author.country_of_origin}}</td>
      <td>{{author.interests}}</td>
      <td><a href="{% url 'author_details' pk=author.pk %}">Details</a></td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% else %}
<p>There are no authors available.</p>
{% endif %}
{% endblock %}