{%extends './dashboard.html'%}
{% load static %}

{% block content %}
<div class="container-fluid p-2">
    <a type="button" class="btn btn-outline-secondary btn-lg btn-block m-2" href="{% url 'authors'%}">All Authors</button>
    <a type="button" class="btn btn-outline-success btn-lg btn-block m-2" href="{% url 'add_authors'%}">Add Authors</a>  
    <a type="button" class="btn btn-outline-primary btn-lg btn-block m-2" href="{% url 'update_author' author.id %}">Update Author Details</button>
    <a type="button" class="btn btn-outline-danger btn-lg btn-block m-2" href="{% url 'delete_author' author.id %}">Delete Author</a>
</div>

<div class="row p-2">
    <div class="col-md-4">
        <img src="{%static 'images/img.jpeg' %}" alt="Authors Image" style="width: 350px; height: 100%;">
    </div>
    <div class="col">
        <h4 class="text-primary">About the author</h3>
        <hr>
        <div>
            <div class="p-2">
                <label>Name: </label>
                <h4>{{author.name}}</h4>
                <label>Country Of Origin: </label>
                <h4>{{author.country_of_origin}}</h4>
                <label>Date of Birth: </label>
                <h4>{{author.date_born}}</h4>
                <label>Interests: </label>
                <h4>{{author.interests}}</h4>
                <label>Bio: </label>
                <p>{{author.bio}}</p>
            </div>
        </div>
        {% endblock %}