{% extends './dashboard.html'%}

{% block content %}
<div class="container-fluid p-2">
  <a type="button" class="btn btn-outline-success btn-lg btn-block" href="{%url 'add_expense'%}">You Can Click This Button To Add an Expense!</a>
</div>

<h1>Expenses</h1>
{% if expenses %}
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Book</th>
      <th scope="col">Distribution Date</th>
      <th scope="col">Distribution Expense</th>
      <th>#</th>
      <th>#</th>
    </tr>  
  </thead>
  {% for expense in expenses %}
  <tbody>
    <tr>
      <th scope="row">*</th>
      <td>{{expense.book.title}}</td>
      <td>{{expense.distribution_date}}</td>
      <td>{{expense.distribution_expense}}</td>
      <td><a href="{% url 'update_expense' expense.id%}" class="btn btn-outline-primary btn-sm btn-block"> Update</a></td>
      <td><a href="{% url 'delete_expense' expense.id%}" class="btn btn-outline-danger btn-sm btn-block"> Delete</a></td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% else %}
<p>Currently no expenses, check back later!</p>
{% endif %}
{% endblock %}